<h1><%= "#{@word}" %></h1>
<h3>Letters</h3>
<h4><%= '#{@word.letters}' %></h4>
<ul class="list-unstyled">
	<% if !@anagrams.nil? %>
    <% @anagrams.each do |anagram| %>
    	<li><%= "#{anagram.text}" %></li>
    <% end %>
  <% end %>
</ul>
<p><a href="/">Go back and try another!</a></p>