<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Anagrams Generator</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Anagram Home</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right text-right">
                <li><a href="/words">Word List</a></li>
                <li><a href="/words/new">Add a Word</a></li>
              </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
        <div class="header hidden-lg hidden-md hidden-xl text-center well">
            <p class="small">
                Built by <a href="http://www.jasonforce.tech">Jason</a>
                with lots of help from <a href="http://www.skillcrush.com">Skillcrush</a>
            </p>
            <h1>Anagram Generator</h1>
            <p>
                an-a-gram <br />
                <span>noun</span> -- A word or phrase formed by reordering the letters of another word or phrase.
            </p>
        </div>

        <div class="header-lg hidden-xs hidden-sm text-center well">
            <p class="small">
                Built by <a href="http://www.mojason.com">Jason</a>
                with lots of help from <a href="http://www.skillcrush.com">Skillcrush</a>
            </p>
            <h1>Anagram Generator</h1>
            <p>
                an-a-gram <br />
                <span>noun</span> -- A word or phrase formed by reordering the letters of another word or phrase.
            </p>
        </div>

        <div class="container text-center form-holder">
            <%= yield %>
        </div>

        <div class="row">
            <div class="images col-xs-12">
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/ie10-viewport-bug-workaround.js"></script>
</html>
