<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Anagrams Generator</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<div class="header text-center well">
			<h1>Find Anagrams for Any Word</h1>
			<h4>...so long as that word only has 3 letters.</h4>
			<p>an-a-gram <br />
				<span>noun</span> -- A word or phrase formed by reordering the letters of another word or phrase.
		</div>
		<div class="container text-center">
			<%= yield %>
		</div>
		<div class="row">
			<div class="images col-xs-12">
			</div>
		</div>
	</body>
</html>