<h1>Anagrams for <%= "#{@word}" %></h1>
<ul class="list-unstyled">
	<% if !@anagrams.nil? %>
    <% @anagrams.each do |anagram| %>
    	<li><%= "#{anagram.text}" %></li>
    <% end %>
  <% end %>
</ul>
<p class="border-top">
	<a href="/">Home</a><br />
	<a href="/words/new">Add a New Word</a>
</p>